--
-- PostgreSQL database dump
--

\restrict junBShICwjdf6Lb0yUunhnbUNXI8EeWgQP5zvgPSAJdVjcwqTKXwGZWTTAGHD6X

-- Dumped from database version 17.7 (bdd1736)
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auctions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auctions (
    auction_id bigint NOT NULL,
    auction_title text NOT NULL,
    auction_date date,
    auction_city text,
    starting_price numeric(12,2),
    target_price numeric(12,2),
    auction_url text NOT NULL,
    car_make_id integer,
    car_model_id integer,
    version_key integer NOT NULL,
    upload_ts timestamp without time zone DEFAULT now() NOT NULL,
    vin_number text,
    plate_number text,
    made_year integer
);


--
-- Name: auctions_auction_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.auctions_auction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: auctions_auction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.auctions_auction_id_seq OWNED BY public.auctions.auction_id;


--
-- Name: auctions auction_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auctions ALTER COLUMN auction_id SET DEFAULT nextval('public.auctions_auction_id_seq'::regclass);


--
-- Name: auctions auctions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auctions
    ADD CONSTRAINT auctions_pkey PRIMARY KEY (auction_id);


--
-- Name: uniq_auction_current_url; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uniq_auction_current_url ON public.auctions USING btree (auction_url) WHERE (version_key = 1);


--
-- Name: auctions fk_car_makes; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auctions
    ADD CONSTRAINT fk_car_makes FOREIGN KEY (car_make_id) REFERENCES public.car_makes(make_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: auctions fk_car_models; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auctions
    ADD CONSTRAINT fk_car_models FOREIGN KEY (car_model_id) REFERENCES public.car_models(model_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict junBShICwjdf6Lb0yUunhnbUNXI8EeWgQP5zvgPSAJdVjcwqTKXwGZWTTAGHD6X

